@model List<Кулинарный_сайт.Models.Ingredients>
@{
    ViewData["Title"] = "Ingredients";
}


<h1>Ингредиенты</h1>

<table>
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Калорийность (ККАЛ)</th>
            <th>Белки (ГРАММ)</th>
            <th>Жиры (ГРАММ)</th>
            <th>Углеводы (ГРАММ)</th>
            <th>Гликемический индекс</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.Calorie_content</td>
                <td>@ingredient.Squirrels</td>
                <td>@ingredient.Fats</td>
                <td>@ingredient.Carbohydrates</td>
                <td>@ingredient.Glycemic_index</td>
            </tr>
        }
    </tbody>
</table>